@use "sass:meta" as *;
@use "sass:map" as *;

@mixin set-space($spaces, $properties) {
  $type: type-of($properties);

  @each $space in $spaces {
    &_#{$space} {
      @if $type == 'string' {
        #{$properties}: var(--space-#{$space});
      } @else if $type == 'list' {
        @each $property in $properties {
          #{$property}: var(--space-#{$space});
        }
      }
    }
  }
}

// @content allows to set common styles for each modifiers
@mixin set-align($alignments, $property) {
  @each $mod, $value in $alignments {
    &_#{$mod} {
      @content;
      
      #{$property}: $value;
    }
  }
}

@mixin set-size($sizes) {
  @each $mod, $size in $sizes {
    &_#{$mod} {
      width: nth($size, 1);
      height: nth($size, 2);
    }
  }
}
