$font-sizes: (
  "s"  : 8px,
  "m"  : 10px,
  "l"  : 11px,
  "xl" : 13px,
  "xxl": 16px,
);

$line-heights: (
  "s"  : 21px,
  "m"  : 25px,
  "l"  : 28px,
  "xl" : 34px,
  "xxl": 38px,
);

$word-sizes: ('s', 'm', 'l');