.card__content {
  position: relative;
  display: flex;
  flex-direction: column;

  &_distribute {

    &_center {
      align-items: center; 
    }
  }

  &_vertical-align {

    &_center {
      justify-content: center;
    }
  }

  &_space-a {
    $spacers: ('m', 'l', 'xl', 'xxxl');

    @each $spacer in $spacers {
      &_#{$spacer} {
        padding: var(--space-#{$spacer});
      }
    }
  }
}