@use "../../../base/helpers" as *;

.card__content {
  position: relative;
  display: flex;
  flex-direction: column;

  &_distribute {

    &_center {
      align-items: center; 
    }
  }

  &_vertical-align {

    &_center {
      justify-content: center;
    }
  }

  &_space-a {
    @include set-space(('m', 'l', 'xl', 'xxxl'), 'padding');
  }
}