@use "../../../base/helpers" as *;

.card__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;

  &_distribute {
    $alignments: (
      'beetween': space-between,
      'center': center,
      'right': flex-end
    );

    @each $mod-name, $alignment in $alignments {
      &_#{$mod-name} {
        justify-content: $alignment;
      }
    }
  }


  &_vertical-align {
    $alignments: (
      'top': flex-start,
      'center': center,
      'bottom': flex-end
    );

    @each $mod-name, $alignment in $alignments {
      &_#{$mod-name} {
        flex-direction: column;
        justify-content: $alignment;
      }
    }
  }


  &_space-a {
    @include set-space(('m', 'l', 'xl', 'xxl'), 'padding');
  }
}