@use "../../../base/helpers" as *;

.list__item {
  display: flex;

  &_border {

    &_top {
      &:not(:first-child) {
        border-top: var(--border-width) solid var(--color-border);
      }
    }

    &_bottom {
      &:not(:last-child) {
        border-bottom: var(--border-width) solid var(--color-border);
      }
    }
  }

  &_distribute {
    $alignments: (
      'beetween': space-between,
    );

    @each $mod-name, $alignment in $alignments {
      &_#{$mod-name} {
        justify-content: $alignment;
      }
    }
  }

  &_indent-t {
    @include set-space(('m'), 'margin-top');
  }

  &_indent-b {
    @include set-space(('s', 'm', 'l', 'xl'), 'margin-bottom');
  }


  &_space-a {
    @include set-space(('s'), 'padding');
  }

  &_space-b {
    @include set-space(('m'), 'padding-bottom');
  }
}