@use "../../../base/typography" as *;

.text__word {
  display: inline-block;
  height: var(--text-height);
  background-color: currentColor;
  margin: var(--text-space) 0;

  &_width {
    @each $word-size in $word-sizes {
      &_#{$word-size} {
        width: var(--text-width-#{$word-size});
      }
    }
  }
}