@use "../../../base/helpers" as *;

.informer__content {
  display: flex;
  flex-grow: 1;

  &_distribute {
    @include set-align((
      'default': unset,
      'beetween': space-between,
    ), 'justify-content');

    &_center {
      flex-direction: column;
      align-items:  center;
    }
  }

  &_space-a {
    @include set-space(('xl', 'xxl'), 'padding');
  }
}