.header {
  padding: var(--space-xxxl) var(--gap);
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.header__logo {
  width: 179px;
  height: 34px;

  background-color: var(--color-text-primary);
}
