.grid__fraction {
  grid-column-end: span var(--grid-span, 1);

  &_m-col {
    $spans: (2, 3, 4, 5, 8);

    @each $span in $spans {
      &_#{$span} {
        --grid-span: #{$span};
      }
    }
  }
}