.layout {
  
  &__container {
    max-width: var(--layout-size);
    width: 100%;


    &_align {

      &_center {
        margin: 0 auto;
      }
    }

    &_size {
      $sizes: (
        "s": 920px,
        "m": 1280px
      );

      @each $size, $width in $sizes {
        &_#{$size} {
          max-width: $width;
        }
      }
    }

    &_space-v {
      $spacers: ("xxxxl", "xxxxxl");

      @each $size in $spacers {
        &_#{$size} { 
          padding-top: var(--space-#{$size});
          padding-bottom: var(--space-#{$size});
        }
      }
    }

    &_indent-b {
      $spacers: ("xxl", "xxxxl");

      @each $size in $spacers {
        &_#{$size} { 
          margin-bottom: var(--space-#{$size});
        }
      }
    }
  }
}