@use "../../../base/helpers" as *;

.layout__container {
  max-width: var(--layout-size);
  width: 100%;


  &_align {

    &_center {
      margin: 0 auto;
    }
  }

  &_size {
    $sizes: (
      "s": 920px,
      "m": 1280px
    );

    @each $size, $width in $sizes {
      &_#{$size} {
        max-width: $width;
      }
    }
  }

  &_space-v {
    @include set-space(("xxxxl", "xxxxxl"), ('padding-top', 'padding-bottom'));
  }

  &_indent-b {
    @include set-space(("xxl", "xxxxl"), 'margin-bottom');
  }
}